{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "This is an example page."
  }) }}

  {% call appPageBody() %}

  {% endcall %}

{% endblock %}
